$primary: #f07f2e;
$success: #82c43c;
$danger: #e7640c;
$warning: #fbff02;
$info: #1302ff;



.alert-label {
    margin-bottom: 15px;
}

.alert-list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    gap: 18px;
}

.item-icon {
    fill: #ffff;
}

.alert-btn {
    background-color: transparent;
    border: none;
}


.close-btn {
    position: absolute;
    top: 25px;
    right: 18px;
    fill: #ffff;
    width: 16px;
    height: 16px;
}

// //Approach 1

// .alert-item {
//     position: relative;
//     padding: 20px;
//     display: flex;
//     align-items: center;

//     gap: 8px;
//     width: 459px;
//     border-radius: 6px;

//     background-color: #747171;
// }

// .alert-item-primary {
//     background-color: #f07f2e;
// }

// .alert-item-success {
//     background-color: #82c43c;
// }

// .alert-item-danger {
//     background-color: #e7640c;
// }

// .alert-item-warning {
//     background-color: #e8eb4094;
// }

// .alert-item-info {
//     background-color: #1302ff;
// }


// //Approach 2

// .alert-item {
//     position: relative;
//     padding: 20px;
//     display: flex;
//     align-items: center;

//     gap: 8px;
//     width: 459px;
//     border-radius: 6px;

//     background-color: #747171;
// }

// .alert-item-primary {
//     @extend .alert-item;

//     background-color: #f07f2e;
// }

// .alert-item-success {
//     @extend .alert-item;

//     background-color: #82c43c;
// }

// .alert-item-danger {
//     @extend .alert-item;

//     background-color: #e7640c;
// }

// .alert-item-warning {
//     @extend .alert-item;

//     background-color: #e8eb4094;
// }

// .alert-item-info {
//     @extend .alert-item;

//     background-color: #1302ff;
// }


//Approach 3

%alert-item {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;

    gap: 8px;
    width: 459px;
    border-radius: 6px;

    background-color: #747171;
}

.alert-item-primary {
    @extend %alert-item;

    background-color: #f07f2e;
}

.alert-item-success {
    @extend %alert-item;

    background-color: #82c43c;
}

.alert-item-danger {
    @extend %alert-item;

    background-color: #e7640c;
}

.alert-item-warning {
    @extend %alert-item;

    background-color: #e8eb4094;
}

.alert-item-info {
    @extend %alert-item;

    background-color: #1302ff;
}